p {
margin: 0px;
}
div {
border: solid;
border-color: black;
}
#div1 {
background-color: yellow;
}
#div2 {
background-color: cyan;
}
#div3 {
background-color: lightpink;
float: left;
width: 32%;
}
#div4 {
background-color: orange;
float: left;
width: 32%;
}
#div5 {
background-color: lightblue;
float: left;
width: 32%;
}
#div6 {
background-color: lightgray;
}