body {  /*color: red;*/
        /*text-align:center;*/
        padding: 5px;
}

table,th,tr,td { border:solid 1px
}
/*div {
    padding: 15px;
    border-color: aqua;
    border-style: solid;
}*/
th {
background-color: #BDEAFF;
width: 100px;
}
th:only-of-type {
background-color: #FFFF99;
}

.para {
    color: blue;
}

.th1 {
    text-align: center;
}
/*#mydiv::first-letter { font-size: 100px;
}*/

.hvr:hover {
    font-size: 50px;
}

*:hover {
    color: red;
}
/*div:hover { font-size: 50px;
}*/

a[href]:hover::after {
    content: " (" attr(href) ")";
    background-color: yellow;
}

#gif {
    opacity: 0.2;
}


li {


}